:host {
    > h2 {
        padding: 0 10px;
    }    
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
        border-bottom: 2px solid #69695d;
        padding-bottom: 7px;
        text-align: center;
    }


    > div.container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        gap: 30px;

        > .quest {
            display: flex;
            flex-direction: column;
            max-width: 255px;
            border: #69695d 2px solid;
            border-radius: 10px;
            padding: 30px 20px 15px 20px;
            overflow:hidden;
            background: #494940;
            position: relative;
            overflow: initial;

            > h1 {
                font-size: 18px;
                padding: 0;
            }
            
            > p {
                margin: 0;
                margin-top: 10px;
                color: white;
                font-size: 14px;
                letter-spacing: 1px;
            }
            
            > section {
                margin: 0;
                margin-top: auto;
                padding-top: 20px;

                > h2 {
                    margin: 0;
                    text-align: center;
                    color: white;
                    font-size: 18px;
                }

                > div {
                    display: flex;
                    justify-content: center;
                    color: white;
                    gap: 5px;

                    > span {
                        font-size: 24px;
                    }
                }
            }
        }

        .quest[completed=true]::after {
            content: "Completed";
            position: absolute;
            bottom: 3px;
            right: -30px;
            transform: rotate(-45deg);
            color: white;
            background-color: brown;
            padding: 8px;
            font-size: 20px;
        }

        .quest[failure=true]::after {
            content: "Failure";
            position: absolute;
            bottom: 3px;
            right: -30px;
            transform: rotate(-45deg);
            color: white;
            background-color: black;
            padding: 8px;
            font-size: 20px;
        }
    }
}

section:not(:first-of-type) {
    margin-top: 50px;
    padding-bottom: 80px;
}

:host {
    .mainbody {
        height: auto;
    }
}