@media screen and (max-width: 800px) {
    .mainbody {
        width: 100% !important;
        padding: 0 !important;
        border-left: none !important;
        border-right: none !important;
    }
}

.mainbody {
    height: 100vh;
    width: 75%;
    padding: 0 12px;
    border-left: 5px solid #69695d;
    border-right: 5px solid #69695d;
    margin: auto;
    background-color: #a9a793;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #a9a793;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #69695d 2px solid;
    gap: 100px;

    >span {
        font-size: 15px;
        color: white;
        padding: 4px;
        background-color: #8b8a7a;
        border-radius: 4px;
        border: 1px solid #69695d;
        cursor: pointer;
    }
}

::ng-deep {
    .mainbody {
        h1 {
            text-align: center;
            margin: 0;
            color: white;
            padding-top: 30px;
        }

        h2 {
            text-align: center;
            font-size: 18px;
            margin: 0;
            margin: 10px 0 30px 0;
            color: white;
        }
    }
}