h1 {
    padding-top: 30px;
}

h2 {
    margin: 10px 0 60px 0;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;

    >.characters-div {
        width: 250px;
        height: 20px;
        background-color: red;
    }
}